# Desafio Python e SQL

### Create

In [11]:
import pyodbc

dados_conexao = (
    'Driver={SQLite3 ODBC Driver};'
    'Servidor=localhost;'
    r'Database=.\Dados\chinook.db;'
)

try:
    conexao = pyodbc.connect(dados_conexao)
    cursor = conexao.cursor()
    cursor.execute('''
INSERT INTO artists (Name)
VALUES ("Lira Noiado")
''')
    cursor.execute('''
INSERT INTO albums (Title, ArtistId)
VALUES ("Lira Rock", 276)
''')
    cursor.commit()
    #resultado = cursor.fetchall()
    #display(resultado)
finally:
    cursor.close()
    conexao.close()