### 1- Imposto a pagar no Lucro Presumido

- 5% sobre faturamento de ISS (mensal)
- 0,65% de PIS sobre faturamento, (mensal)
- 3% de COFINS sobre faturmaneto, (mensal)
- 4.8% de IR (trimestral)
- 10% de IR Adicional sobre o que ultrapassar 20mil do faturamento (trimestral)
- CSLL: 2,88% sobre faturamento (trimestral)

In [6]:
import pandas as pd

def transformar_string_em_float(valor):
    return float(valor[3:].replace(".", "").replace(",", "."))


def transformar_float_em_real(valor):
    return f"R$ {valor:_.2f}".replace(".", ",").replace("_", ".")


def calcular_impostos_mensais(faturamento, impostos):
    imposto_mensal = 0
    for imposto in impostos.values():
        imposto_mensal += faturamento * imposto
    return imposto_mensal


def calcular_impostos_trimestrais(faturamento, impostos):
    imposto_trimestral = 0
    for imposto, valor in impostos.items():
        if imposto == "ir_adicional":
            imposto_trimestral += valor * (faturamento - 20_000) if faturamento > 20_000 else 0
        else:
            imposto_trimestral += valor * faturamento

    return imposto_trimestral


def calcular_impostos_totais(faturamento, impostos):
    resultado = {}
    for mes, fat in faturamento.items():
        fat_total = transformar_string_em_float(fat)
        imposto_mensal = imposto_trimestral = 0
        for tipo_imposto, valores in impostos.items():
            if tipo_imposto == "imposto_mensal":
                imposto_mensal = calcular_impostos_mensais(fat_total, valores)
            elif tipo_imposto == "imposto_trimestral":
                imposto_trimestral = calcular_impostos_trimestrais(fat_total, valores)
            else:
                print("Tipo de imposto não registrado.")
        imposto_mensal = transformar_float_em_real(imposto_mensal)
        imposto_trimestral = transformar_float_em_real(imposto_trimestral)
        resultado[mes] = (fat, imposto_mensal, imposto_trimestral)
    return resultado


faturamento = {
    'jan': 'R$ 95.141,98',
    'fev': 'R$ 95.425,16',
    'mar': 'R$ 89.716,31',
    'abr': 'R$ 78.459,99',
    'mai': 'R$ 71.087,28',
    'jun': 'R$ 83.911,06',
    'jul': 'R$ 56.467,26',
    'ago': 'R$ 88.513,58',
    'set': 'R$ 66.552,49',
    'out': 'R$ 80.164,07',
    'nov': 'R$ 66.964,33',
    'dez': 'R$ 71.525,25',
}

impostos = {
    "imposto_mensal": {
        "iss": 0.05, "pis": 0.0065, "cofins": 0.03
    }, 
    "imposto_trimestral": {
        "ir": 0.048, "ir_adicional": 0.1, "csll": 0.0288
    }
}


resultado = calcular_impostos_totais(faturamento, impostos)
print(resultado)
# você precisa inserir no sistema um dicionário no formato:

# resultado = {
#     'mes': (faturamento, imposto_mensal, imposto_trimestral),
# }



tabela = pd.DataFrame.from_records(resultado)
display(tabela)

{'jan': ('R$ 95.141,98', 'R$ 8.229,78', 'R$ 14.821,10'), 'fev': ('R$ 95.425,16', 'R$ 8.254,28', 'R$ 14.871,17'), 'mar': ('R$ 89.716,31', 'R$ 7.760,46', 'R$ 13.861,84'), 'abr': ('R$ 78.459,99', 'R$ 6.786,79', 'R$ 11.871,73'), 'mai': ('R$ 71.087,28', 'R$ 6.149,05', 'R$ 10.568,23'), 'jun': ('R$ 83.911,06', 'R$ 7.258,31', 'R$ 12.835,48'), 'jul': ('R$ 56.467,26', 'R$ 4.884,42', 'R$ 7.983,41'), 'ago': ('R$ 88.513,58', 'R$ 7.656,42', 'R$ 13.649,20'), 'set': ('R$ 66.552,49', 'R$ 5.756,79', 'R$ 9.766,48'), 'out': ('R$ 80.164,07', 'R$ 6.934,19', 'R$ 12.173,01'), 'nov': ('R$ 66.964,33', 'R$ 5.792,41', 'R$ 9.839,29'), 'dez': ('R$ 71.525,25', 'R$ 6.186,93', 'R$ 10.645,66')}

,abr,ago,dez,fev,jan,jul,jun,mai,mar,nov,out,set
0,"R$ 78.459,99","R$ 88.513,58","R$ 71.525,25","R$ 95.425,16","R$ 95.141,98","R$ 56.467,26","R$ 83.911,06","R$ 71.087,28","R$ 89.716,31","R$ 66.964,33","R$ 80.164,07","R$ 66.552,49"
1,"R$ 6.786,79","R$ 7.656,42","R$ 6.186,93","R$ 8.254,28","R$ 8.229,78","R$ 4.884,42","R$ 7.258,31","R$ 6.149,05","R$ 7.760,46","R$ 5.792,41","R$ 6.934,19","R$ 5.756,79"
2,"R$ 11.871,73","R$ 13.649,20","R$ 10.645,66","R$ 14.871,17","R$ 14.821,10","R$ 7.983,41","R$ 12.835,48","R$ 10.568,23","R$ 13.861,84","R$ 9.839,29","R$ 12.173,01","R$ 9.766,48"

### 2 - Puxando informações de um banco de Dados

In [18]:
# puxando informações SQL de um banco de dados
informacoes = [(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]
descricao = (('Id', "<class 'int'>", None, 10, 10, 0, True), ('EmployeeName', "<class 'str'>", None, 65536, 65536, 0, True), ('JobTitle', "<class 'str'>", None, 65536, 65536, 0, True), ('BasePay', "<class 'float'>", None, 54, 54, 0, True), ('OvertimePay', "<class 'float'>", None, 54, 54, 0, True), ('OtherPay', "<class 'float'>", None, 54, 54, 0, True), ('Benefits', "<class 'float'>", None, 54, 54, 0, True), ('TotalPay', "<class 'float'>", None, 54, 54, 0, True), ('TotalPayBenefits', "<class 'float'>", None, 54, 54, 0, True), ('Year', "<class 'int'>", None, 10, 10, 0, True), ('Notes', "<class 'str'>", None, 65536, 65536, 0, True), ('Agency', "<class 'str'>", None, 65536, 65536, 0, True), ('Status', "<class 'str'>", None, 65536, 65536, 0, True))

colunas = [item[0] for item in descricao]

# precisamos 1º de uma lista com o nome das colunas para poder organizar as colunas da nossa tabela:
# o nome das colunas está na variável descrição, dê uma olhada.

import pandas as pd

# tabela = pd.DataFrame.from_records(informacoes)
# para acertar nossa tabela, vamos precisar fazer:
tabela = pd.DataFrame.from_records(informacoes, columns=colunas) # onde colunas é uma lista com o nome das colunas
display(tabela)


# além disso, precisamos enviar por e-mail para o RH uma lista com o nome e o cargo de cada pessoa da tabela 
# então você precisa construir o texto do corpo desse email do tipo:

# texto = """
# RH, segue a lista dos funcionários:
# Fulano, Cargo: tal
# Beltrano, Cargo: isso
# """

texto = "RH, segue a lista dos funcionários:\n"
for funcionario in informacoes:
    texto += f"{funcionario[1]},".ljust(20) + f"Cargo: {funcionario[2]}\n"
print(texto)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,None,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,None,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,None,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,None,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,None,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,None,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,None,307899.46,307899.46,2011,,San Francisco,
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,None,303427.55,303427.55,2011,,San Francisco,
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,None,302377.73,302377.73,2011,,San Francisco,

RH, segue a lista dos funcionários:
NATHANIEL FORD,     Cargo: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
GARY JIMENEZ,       Cargo: CAPTAIN III (POLICE DEPARTMENT)
ALBERT PARDINI,     Cargo: CAPTAIN III (POLICE DEPARTMENT)
CHRISTOPHER CHONG,  Cargo: WIRE ROPE CABLE MAINTENANCE MECHANIC
PATRICK GARDNER,    Cargo: DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
DAVID SULLIVAN,     Cargo: ASSISTANT DEPUTY CHIEF II
ALSON LEE,          Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
DAVID KUSHNER,      Cargo: DEPUTY DIRECTOR OF INVESTMENTS
MICHAEL MORRIS,     Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
JOANNE HAYES-WHITE, Cargo: CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

### 3 - Extração dos links de Download de Vídeos do Vimeo

- Precisamos pegar os links em 1080p, 720p e 540p para importar os vídeos para uma nova plataforma

In [ ]:
# para pegar o dicionario do vimeo, use:
from dic import dicionario_vimeo


# você precisa chegar em:
# videos = [
#     {'uri': video_uri, 'nome': nome_video, 'duracao': duracao, 'link540p': link540p, 'link720p': link720p, 'link1080p': link1080p},
# ]